.page-header{
    text-align: center;
}
.button-container{
    text-align: center;
}
.date-container{
    text-align: center;
}
.content-container{
    text-align: center;
}
.attention{
    text-align: center;
    color: red;
}