.page-header{
    text-align: center;
}
.button-container{
    text-align: center;
}
.date-container{
    text-align: center;
}
.content-container{
    text-align: center;
}
.attention{
    text-align: center;
    color: red;
}
.test-div{
    width: 300px;
    height: 300px;
    border: solid 1px red;
    background-color: white;
}
.test-div:hover{
    background-color: aqua;
}
